otelcol.exporter.otlp "causely" {
  client {
    endpoint = "mediator:4317"
    tls {
      insecure = true
    }
  }
}

otelcol.processor.discovery "default" {
    targets = discovery.relabel.docker.output

    output {
      traces  = [otelcol.processor.batch.default.input]
    }
}

otelcol.processor.batch "default" {
  output {
    metrics = [otelcol.exporter.otlp.causely.input]
    traces  = [otelcol.exporter.otlp.causely.input]
  }
}

otelcol.receiver.otlp "otlp" {
  grpc {
    endpoint = "0.0.0.0:4317"
  }
  http {
    endpoint = "0.0.0.0:4318"
  }

  output {
    logs    = [otelcol.processor.batch.default.input]
    metrics = [otelcol.processor.batch.default.input]
    traces  = [otelcol.processor.discovery.default.input]
  }
}

// Discover Docker containers and extract metadata.
discovery.docker "containers" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "docker" {
  targets = discovery.docker.containers.targets

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex = "/(.*)"
    target_label = "container.name"
  }
  rule {
    source_labels = ["__meta_docker_container_id"]
    target_label  = "container.id"
    action        = "replace"
  }
}
